
body {
  margin: 0px;
  padding: 0px;
  background: url(logo.jpg)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 1500px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}
b {
  font-size: 20px;
}
.a_menu {
  margin-top: 30px;
}
.a_header {
  color: #6aa96a;
}
.a_header:hover {
  color: #232332;
}

.logo_header {
  padding: 10px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.a_header {
  font-size: 20px;
  margin-right: 30px;
}

header {
  text-align: center;
  margin-top: 30%;
  color: #fff;
}
.welcome {
  text-align: center;
  color: #fff;
}


/* ------------------------------ */
.grid_container_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 35px;
  padding: 20px;
  background: #fff;
}
.block1 {
  padding: 20px;
  background: #6aa96a;
  color: #fff;
}
.block_1_img {
  width: 100%;
}

/* ---------------- */

.grid_container_2 {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 35px;
  background: #fff6f6;
}
.block2 {
  margin-bottom: 50px;
  padding: 20px;
  color: #000;
}
.block_2_img {
  width: 100px;
}
.a_more {
  font-size: 20px;
  color: #000;

}
.a_more:hover {
  color: green;
  font-size: 24px;
}
/* ---------------- */

.grid_container_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 35px;
  padding: 20px;
  background: #fff;
  padding-bottom: 100px;
}
.block3 {
  color: #000;
}
.b_green {
  color: green;
}
.a_more_hover {
  padding: 7px 20px;
  color: #fff;
  background: #000;
}
.a_more_hover:hover {
  background: #6aa96a;
}
/* ---------------- */

.grid_container_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 35px;
  padding: 20px;
  background: #fff6f4;
  padding-bottom: 100px;
}
.block4 {
  color: #000;
}
.this_block4 {
  color: #b9a5a5;
}
.this_block4:hover {
  color: #6aa96a;
}

.p_green_number {
  font-weight: bold;
  font-size: 60px;
  color: #6aa96a;
}
.a_more_block4 {
  font-size: 20px;
  color: #000;
}
.a_more_block4:hover {
  color: #6aa96a;
}

.pic_client {
  background: #fff;
  display: flex;
  justify-content: space-around;
}


.imgblock {
    position: relative;
    display: inline-block;

    width: 100%;
}

.imgblock_img {
    width: 100%;
}
.imgblock span {
    /*background: rgba(0,0,0,0.7); (полупрозрачность)*/

    color: #fff;
    border-radius: 2px;
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 30px;
}
span {
  display: flex;
}

.foot_text_butt {
  color: #fff;
  padding: 15px;
  font-size: 25px;
}
.a_more_block_foot {
  padding: 10px 20px;
  color: #fff;
  background: #6aa96a;
  font-size: 18px;
}
.a_more_block_foot:hover {
  background: yellow;
  color: #000;
  font-size: 20px;
}


.foot  {
  padding: 20px;
  background: #fff6f4;
  text-align: center;
  display: flex;
  justify-content: center;
}

.foot a img {
  border-radius: 15px;
}


/* ------------------------------ */


/* Мобильные устройства */
@media only screen and (max-width : 992px)  {


  .container {
    max-width: 960px;
    margin: auto;
  }

   .logoEpa {
  width: 100px;
}

  header {
    text-align: center;
    margin-top: 30%;
    color: #fff;
  }

  .a_menu {
    margin-top: 15px;
  }


  .logo_header {
    padding: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    background: #fff;
  }
  .a_header {
    font-size: 20px;
    margin-right: 10px;
  }

  .welcome {
    font-size: 15px;
    text-align: center;
    color: #fff;
  }
  /* ------------------------------ */
  .grid_container_1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 35px;
    padding: 20px;
    background: #fff;
  }
  .block1 {
    padding: 20px;
    background: #6aa96a;
    color: #fff;
  }

  /* ---------------- */

  .grid_container_2 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 35px;
    background: #fff6f6;
  }
  .block2 {
    margin-bottom: 50px;
    padding: 20px;
    color: #000;
}
  /* ---------------- */

  .grid_container_3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 35px;
    padding: 20px;
    background: #fff;
    padding-bottom: 50px;
  }
  .block3 {
    color: #000;
  }
  .b_green {
    color: green;
  }
  .a_more_hover {
    padding: 7px 20px;
    color: #fff;
    background: #000;
  }
  .a_more_hover:hover {
    background: #6aa96a;
  }
  /* ---------------- */

  .grid_container_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 35px;
    padding: 20px;
    background: #fff6f4;
    padding-bottom: 50px;
  }

  .p_green_number {
    font-weight: bold;
    font-size: 40px;
    color: #6aa96a;
  }


.pic__client {
  width: 70px;
  padding: 40px 0px;
}

  .mobil_text {
    width: 100px;
    height: 100px;
  }
  .foot_text_butt {
    color: #fff;
    font-size: 5px;
  }
  .a_more_block_foot {
    display: none;
  }
  

  .foot  {
    padding: 20px;
    background: #fff6f4;
    text-align: center;
  }


   /*******************/

    .foot_text_butt {
      color: #fff;
      padding: 7px;
      font-size: 16px;
    }
    .mobil_text {
      display: none;
    }
    .imgblock_img {
      width: 100%;
    }

}
